<!DOCTYPE html>
<html lang="en">

<head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">

	 <title>SignUp Template for Bootstrap </title>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	 <script src='static/js/script.js'></script>
</head>

<body>

	<div>
	  Camera
		<p id="demo"></p>
	  <span></span>

	</div>

	<div>
        <form  role="form">
        <h2>Take Photo</h2>

        <input type="email" id="inputUsername" name="username" placeholder="Email address" >
        <input type="password" id="inputPassword" name="password" placeholder="Password" >
        <button type="button">Take Picture</button>
		</form>
	</div>
</body>

</html>